<div class="container">
  
  <div class="text-center">
    <%= image_tag @animal.image.url(:med) %>
    <h3><strong><%= @animal.name %></strong><br></h3>
    <h4>Exhibit: <%= @exhibit.name %></h4>
    <p>
      <i>Species: <%= @animal.species %></i><br>
      <%= @animal.description %>
    </p>
  </div>

  <!-- back button - - need to figure out link -->

  <div class="text-center">
    <!-- button/form to delete animal -->
    <form action="/animals/<%= @animal.id %>" method="post" style="display:inline-block">
      <%= token_tag form_authenticity_token %>
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-sm">Delete</button>
    </form>

    <!-- button to edit animal -->
    <button class="btn btn-sm"><%= link_to 'Edit Animal', edit_animal_path(@animal) %></button>
  </div>
  
</div>